body {
    background: black;
    font-family: Roboto;
}
.container{
    height:550px;
    width:400px;
    background: white;
    margin:auto;
    margin-top: 60px;
    
}
.header {
    background: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.left{
    display: flex;
    align-items:center;
}

.iconos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    background: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}